.Rproj.user
.deps
.libs
*.o
*.so
*.dll
*.dylib
do-not-share/
..Rcheck
src-x64
src-i386
src/boost
doc
Meta
RoBMA.Rcheck
.Rhistory
.Rprofile
/doc/
/Meta/
config.log
config.status
src/Makevars
models/MetaRegression/*
*.pdf